:root {
  --colorWHITE: #fff;
  --colorBLACK: #000;
  --colorMAIN: #fff;
  --colorBLUE: #eceff1;
}

/* -- dark mode -- */

@media (prefers-color-scheme: dark) {
  body {
    --colorWHITE: #111;
    --colorBLACK: #aaa;
    --colorMAIN: #222;
    --colorBLUE: #222;
  }
}

/* -- all -- */

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-collapse: collapse;
  vertical-align: top;
  box-sizing: border-box;
  /* user-select: none; */
  /* -webkit-appearance: none; */
}

*:focus {
  outline: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--colorWHITE);
}

p,
a,
h1,
summary {
  color: var(--colorBLACK);
  font-weight: 300;
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  /* text-align: justify; */
}

a {
  text-decoration: none;
}

.hidden {
  display: none !important;
}

/* -- bt_play -- */

#bt_play:hover {
  background-color: var(--colorBLACK);
  color: var(--colorWHITE);
}

#bt_play {
  color: var(--colorBLACK);
  border: 1px solid var(--colorBLACK);
  box-shadow: 0px 10px 50px var(--colorWHITE);
  border-radius: 4px;
  font-size: 16px;
  padding: 15px 0px;
  transition: 0.2s;
  width: 180px;
  position: absolute;
  top: 48vh;
  left: 0%;
  right: 0%;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
}

.filter {
  filter: blur(2px);
  pointer-events: none;
}

/* -- header -- */

header {
  flex-direction: column;
}

header #p_title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #p_title span {
  font-size: 42px;
  margin-left: 10px;
  display: block;
}

/* -- footer -- */

footer p {
  font-size: 12px;
}

/* -- header / footer -- */

header,
footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- main -- */

main {
  background-color: #f3f3f3;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
}

main img {
  height: 20vh;
}

/* -- article -- */

article {
  border: 1px solid var(--colorBLACK);
  width: calc(500px - 2px);
  padding: 20px;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#article_enigma {
  background-color: var(--colorWHITE);
}

#article_enigma #h1_title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

#article_enigma #p_text,
#article_solution #p_solution {
  font-size: 14px;
  margin-top: 20px;
}

#article_solution {
  background-color: var(--colorBLUE);
}

#article_solution details summary {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

#article_solution #p_solution,
#article_solution details summary {
  font-style: oblique;
}

#article_solution button:hover {
  background-color: var(--colorBLACK);
  color: var(--colorWHITE);
}

#article_solution button {
  background-color: var(--colorMAIN);
  color: var(--colorBLACK);
  border: 1px solid var(--colorBLACK);
  font-size: 16px;
  padding: 10px;
  margin-top: 40px;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
}

/* -- mobile -- */

@media screen and (max-width: 800px) {
  article {
    width: calc(100% - 10%);
  }
}
